.title
    .title__block
        .title__h1 Прогулки по Енисею
        .title__p Профессионально организовываем экскурсии по реке Енисей в г. Красноярск
        .btn 
            .btn__text Выбрать экскурсию