nav.header
    div.header__logo
    div.header
        div.header__item Экскурсии
        div.header__item О нас
        div.header__item Отзывы
        div.header__item Фотографии
        div.header__item Контакты
    div.header__phone +7 (933) 338-83-65