doctype html
html
    head
        title СимСимТревел
    body
        include /header/header.pug
        include /title/title.pug
        include /cards/card_layout.pug
        script(src="./index.js")